# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente (NUNCA subir para o git!)
.env

# Arquivos de uploads temporários
uploads/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flet / build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
*.swp

# Windows
Thumbs.db
desktop.ini
